{% extends "layout.html" %}
{% block content %}
	
	<div class="inner">
		<div class="row" style="justify-content: center;">
			
			<div class="create-player" style="width: 100%;">
				<input type="text" id="new-player-name" style="width: 50%;" placeholder="name">
			</div>
			<ul class="actions special">
				<li><a href="#" id="submit-new-player" class="button primary">Create Player</a></li>
			</ul>
				
		</div>
		
	</div>
	
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
	
	<section class="spotlight div-player style1">
		<div class="player-info">
			<h2></h2>
		</div>
		<div class="image"><img class="player-img" src="" alt="" /></div>
		<div class="content">
			<div class="table-wrapper">
				<table id="pl1_score">
					<thead>
						<tr>
							<th>Score</th>
							<th>Last</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>501</td>
						</tr>
					</tbody>
				</table>
				<input class="user-score-input" type="number" id="user-score-1" name="input-score-1" placeholder="0">
				<label for="input-score-1">Enter Score.</label>
			</div>
		</div>
	</section>
</section>
<section id="three" class="wrapper alt style4">
	
	<section class="spotlight div-player">
		<div class="player-info">
			<h2></h2>
		</div>
		<div class="image"><img class="player-img" src="" alt="" /></div>
		<div class="content">
			<div class="table-wrapper">
				<table id="pl2_score">
					<thead>
						<tr>
							<th>Score</th>
							<th>Last</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>501</td>
						</tr>
					</tbody>
				</table>
				<input class="user-score-input" type="number" id="user-score-2" name="input-score-2" placeholder="0">
				<label for="input-score-2">Enter Score.</label>
			</div>
		</div>
	</section>
</section>
{% endblock content %}


