{% extends "layout.html" %}
{% block content %}
	
	<div class="inner">
		<div class="row" style="justify-content: center; align-items: center;">
			<div class="welcome-player">
				<p>Welcome to FXMT Darts: {{ player }}</p>
			</div>
			<div>
				<iframe src="https://giphy.com/embed/JTPBO0v9xTy5KZggKI" width="300" height="180" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p style="font-size: 0.2em;"><a href="https://giphy.com/gifs/memecandy-JTPBO0v9xTy5KZggKI">via GIPHY</a></p>
			</div>
				
		</div>
			<ul class="actions special">
				<li><a href="{{ url_for('greet') }}" id="back-to-homepage" class="button primary">Go to game</a></li>
			</ul>		
		</div>	
	</div>
</section>
{% endblock content %}


